{% extends 'core/base.html' %}
{% load static %}
{% block title %} Logros {% endblock %}


    {% block content %}
    <main class="main_logros">
        <div class = "l_intro">
        <h1>Algunos de mis logros personales </h1>
        <p> Con la finalidad de mejorar y poner en practica lo aprendido en el 
        programa de ingles que realice durante un año, asi como adquirir experiencia
        cultural en un pais estranjero, decidi Realizar el Programa de trabajo de Verano en 
        Los Estados Unidos de America. En cada uno de mis viajes pude aprender nuevas cosas.
        A continuacion una descripcion de mis experiencias.</p>
        </div>

        {% for logro in logros %}
        <div class="k_logro">
                <figure class="lg_figure">
                    <img src="{{ logro.image.url }}" alt="Kentucky"  class="img_modal">
                </figure>
            <div class="k_descripcion">
                <h2>{{ logro.title }}</h2>
                <p>{{ logro.description|safe }}</p> 
                <p>{{ logro.content|safe }}</p> 
            </div>
        </div>
        {% endfor %}

        <div class = "tienda">
            <h3>
                    Visita mi tienda
            </h3>

            <a href="{% url 'tienda' %}"> Mi tienda</a>
        </div>
    </main>
    {% endblock %}