{% extends 'core/base.html' %}
{% load static %}


    {% block content %}
    <main class="main_logros">
        <h1>Algunos de mis logros importantes</h1>
        {% for logro in logros %}
        <div class="k_logro">
                <figure class="lg_figure">
                    <img src="{{ logro.image.url }}" alt="Kentucky" >
                </figure>
            <div class="k_descripcion">
                <h2>{{ logro.title }}</h2>
                <p>{{ logro.description }}</p> 
            </div>
        </div>
        {% endfor %}

        <div>
            <h3>
                    Visita mi tienda
            </h3>

            <a href="tienda.html"> Mi tienda</a>
        </div>
    </main>
    {% endblock %}