{% extends 'core/base.html' %}
{% load static %}


    {% block content %}
    <main class="main-home">
        <div class="div-descr">
            <h1>Panorama general</h1>
        </div>


        
        <section>
            <div class="item-1">
                <figure class="prof_figure">
                <a href="#" class="btn_modal">
                    <img src="{% static 'core/img/profile-pic.jpeg' %} " width="200" height="300" alt="perfil" data-animation = "show"> <!-- Investigar como hacer que esta imagen permanezca de su tamaño al alejar la pantalla-->
                </a>
                </figure>
                <div>
                    <p class="parrafo">
                        Mi nombre es Oscaly Rosario Mateo. A temprana edad empecé a interesarme en las computadoras y la ciencia detrás de su
                        funcionamiento. Lo primer logro con relación a su uso fue aprender a manejar los paquetes de Office.
                        Más tarde tuve la oportunidad de volverme experto en mecanografía con un curso 
                        de aprendizaje online diseñado para auto enseñarse.<br/><br/>
                        Un tiempo después me encontré con la motivación de estudiar ciencias computacionales. Actualmente estoy 
                        finalizando la carrera de Licenciatura en Informática en la Universidad Autónoma de Santo Domingo (UASD);
                        completando el curso monográfico. <br/><br/>
                        El desarrollo de software ha cambiado mucho mi vida. Mi viaje por la informática me ha dotado con las habilidades necesarias para
                        desarrollar aplicaciones, manejar bases de datos, administrar redes, entre otros. Pero más importante,
                        el manejo de algoritmos me ha dado habilidades para resolver problemas y una nueva forma de comunicarme
                        con otros a un nivel técnico. Mi campo preferido es el de desarrollo web; mi objetivo final es poder 
                        desarrollar una plataforma online con la que pueda hacer más sencilla alguna actividad actual de nuestra sociedad. <br/> 
                        El sitio web en el que te encuentras fue desarrollado con HTML, CSS y los lenguajes JavaScript y Python (Django).
                        Puedes saber más sobre mí en mi <a class="btn-perfil" href="{% url 'perfil' %}">perfil.</a> </p> 

                                                  
                       
                </div>

            </div>
         
        
        </section>

        <section class="modal" id="cover_modal">
            <div class="modal_container">
                <img src="{% static 'core/img/profile-pic.jpeg' %}" class="modal_img">
            </div>
        </section>
   
    </main>
    {% endblock %}