{% extends 'core/base.html' %}
{% load static %}


    {% block content %}  
    <main class="cmm_main">
            <div class="img_cmm">
                <h2>C++</h2>
                <img src="{% static 'core/img/fragmento Cmasmas.JPG' %}" alt="Imagen de codigo" >
                <p> C++ es un lenguaje de programacion con el que es posible desarrollar complejos proyectos. 
                    C++ es un lenguaje derivado del Lenguaje C. Este fue el lenguaje en el que empece mi viaje en la programacion.
                    Los primeros conocimientos que adquiri aprendiendo este lenguage estuvo relacionado a la progacion estructurada.
                    En esta imagen se puede apreciar lo que pude lograr al final del curso.

                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, reprehenderit at. Voluptates fuga officia illo a dolorem,
                     similique exercitationem quaerat nihil quod eius vel esse, sapiente porro libero vitae animi?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium consectetur nemo repudiandae omnis aspernatur! Similique 
                    voluptates quae nobis, ipsam corporis assumenda quas debitis nam labore saepe esse molestias perferendis voluptate?
                </p>
            </div>

            
    </main>
    {% endblock %}