
/*//////////////////////////////// Medias Home //////////////////////////////*/

@media (max-width:1200px) 
{

    /*Adaptar el nav main para que sus elementos sean desplazados al achicar la pantalla */

    .nav-main{
        width: 750px;
        margin-left: -180px;

       /* float: left;*/
    }
  .nav-menu-right{
    padding-left: 20px;
    }

    .menu__link {
        font-size: 20px;
    }

    .main-home{
        width: 100%;
    }

    .footerPie{
        width: 100%;
    }


    /* //////////////////////////////////// Media para Perfil ///////////////////////////////////*/

    .perfil_main{
        width: fit-content;
    }

    .perfil_intro{
    width: 100%;
    padding: 10px 10px 30px; /*Los 10px se aplican para el top, los 80px para lados derecha izquierda, los 50px para abajo*/
    margin: 0 auto;
    }

    .intro_content{
    width: 900px;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
    /*grid-row: 2fr;*/
        
    }
    
    .intro_content h2{
        grid-row: 1;
        grid-column: 1;
        padding: 15px;
      }

    .intro_content img{
        grid-row: 2;
        grid-column: 1; /*Con esta linea evito que se genere una segunda columna como resultado de definicion en main css*/
        width: 90%;
        margin: 0 auto;
      }

      
      .content_detail{
        grid-row: 3;
        grid-column: 1;/*Con esta linea evito que se genere una segunda columna como resultado de definicion en main css*/
        width: 98%;
        margin: 10px 15px 20px;
      }

      .sec_conocimientos{
        display: grid;
        width: 900px;
        margin-top: 65px;
        margin: 65px auto;
      }

      .leng_detalles{ /*Revisar cuidadosamente*/
        display: inline-block;
        padding: 10px 15px 30px;
        max-width: 35%; /*Establece el tama単o de este segmento como un 25% del tama単o del elemento padre*/
        margin-bottom: 30px;
      }


}



@media screen and (max-width: 940px){

    .item-1{
        display: grid; /*Para definir que habran rejillas*/
        grid-template-columns: auto;
        grid-template-rows: auto auto; /*Para cantidad de rejillas y tama単o por frames*/
        }

    .item-1 figure{
        height: 320px;
        margin: 5px 0 0 0;
        padding: 5px 0 0 0;
        grid-row: 1;
        }

    .item-1 figure img{
        justify-items: center;
        padding: 5px 0 5px 0;
        }
    
    .item-1 p {
        font-size: 14px;
        }
    .item-1 div {
        grid-row: 2;
        }

    .icon_search{
        position: fixed;
        font-size: 28px;
        margin: 5px 0 0 58%;
    }
    .checkbtn{
        position: fixed;
        display: block;
        margin: 5px 0 0 64%;
    }

     .nav-menu-right{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -105%;
        text-align: center;
        transition: all .5s;
    }

    .menu__item{
        margin: 50px 0;
        line-height: 30px;
        float: left; /*Posiciona todo el conjunto li a la derecha*/
    }

    .menu__link{
        font-size: 30px; /*Aumenta el tama単o a de los elementos a 30px*/
        color: #f0f8ff;
        display: block; /*Cambia la posicion de los elementos <a> a vertical*/
        margin: 30px 0; /*separa verticalmente los elementos por 30 pixeles*/

    }

    .menu__link.active, .menu__link:hover{
        background: none;
        color: #e62b16;
      }

    #check:checked ~ .nav-menu-right {
        left: -2%;
    }

    .header{
        width: 100%;
    }
    .searchnav{
        width: 100%;
    }

    .barrabusqueda,
    #inputSearch {
        width: 100%;
        
      }

    .main-home{
        width: 100%;
    }

    .footerPie{
        width: 940px;
    }

    .social-icons {
        width: 600px;
    }

    .footerPie i{
        font-size: 26px;
    }

    .footerPie H4{
        font-size: 22px;
    }

     /* //////////////////////////////////// Media para Perfil ///////////////////////////////////*/
     .perfil_main{
        width: fit-content;
    }
    .perfil_intro{
        width: 720px;
        padding: 10px 10px 20px; 
        margin: 0 auto;
    }

    .intro_content{
        width: 97%;
        display: grid;
            
    }

    .content_detail p{
        margin: 10px 20px 20px 10px;
      }

}


@media screen and (max-width: 792px){

    body{
        height: 260vh;
         
     }
 
     .header{
         width: 100%;
         height: 62px
     }
 
     .header_menu{
         width: 100%;
     }
 
     .menu{
         width: 100%;
     }
 
     .nav-home{
         width: 130px;
     }
 
     .home_icon{
         width: 100%;
     }
 
     .nav-main{
         width: 100%;
     }

     .icon_search{
        position: fixed;
        font-size: 24px;
        margin: 5px 0 0 95%;
    }

    .checkbtn{
        position: fixed;
        width: 80px;
        height: 60px;
        font-size: 30px;
        margin: 5px 0 0 98%;
    }

     .main-home{
        height: 1200px;
     }

     .footerPie{
        /*width: fit-content;*/
        width: 100%;
        box-sizing: border-box;
        margin-top: 50%;
     }
     
     .footerPie H4{
        font-size: 20px;
     }

     .social-icons{
        width: 492px;
        margin: 0 auto;
     }

     .social-icons a{
        display: flex;
        font-size: 22px;
        justify-content: space-between;
     }

/* //////////////////////////////////// Media para Perfil ///////////////////////////////////*/
    .perfil_main{
        width: fit-content;
    }

    

}


/*Alt +126 para Virgulilla*/


/* //////////////////////////////////// Media para Logros ///////////////////////////////////*/

